.recipe-container {
    display: flex;
    flex-wrap: wrap;
}

.home h1 {
    font-family: 'Playfair Display', serif;
    padding: 10% 5% 0 5%;
    font-weight: 400;
    text-align: center;
}

@media (min-width: 481px) {
    .home h1 {
        font-size: 3.8rem;
        padding-top: 7%;
    }
}

@media (min-width: 760px) {
    .recipe-container {
        justify-content: center;
    }
}
