.full-recipe-header {
    position: relative;
}

.full-recipe-header img {
    width: 100%;
}

.instruction-btn {
    font-family: 'Playfair Display', serif;
    border: 1px solid #2c3b28;
    color: #2c3b28;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 5px 8px;
    position: absolute;
    bottom: 8%;
    right: 10px;
}

@media (min-width: 481px) {
    .full-recipe-header {
        padding: 10% 0 3.5% 0;
    }

    .full-recipe-header img {
        width: 50%;
        margin: auto;
        border-radius: 20px;
    }

    .instruction-btn {
        padding: 5px 13px;
        font-size: 0.9rem;
        right: 26%;
    }
}

@media (min-width: 769px) {
    .instruction-btn {
        padding: 8px 15px;
        font-size: 1rem;
    }
}

@media (min-width: 1025px) {
    .full-recipe-header {
        margin-right: 3%;
        padding: 0;
    }

    .full-recipe-header img {
        width: 400px;
    }

    .instruction-btn {
        right: 2%;
        font-size: 0.9rem;
        padding: 5px 12px;
        bottom: 10px;
    }

    .instruction-btn:hover {
        cursor: pointer;
    }
}
